<ion-view ng-controller="expenseEditCtrl as vm">
    <ion-content class="has-header dark">
        <h1>Add expense</h1>
    </ion-content>
    <ion-content>
        <form name="editExpenseForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Category</span>
                    <select placeholder="Category" ng-model="vm.expense.category" ng-options="category as category.name for category in vm.categories" required>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="vm.expense.name" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" ng-model="vm.expense.description">
                </label>
                <label class="item item-input">
                    <span class="input-label">Amount</span>
                    <input type="number" ng-model="vm.expense.amount" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Creation date</span>
                    <input type="date" ng-model="vm.expense.creationDate" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Frequency</span>
                    <select ng-model="vm.expense.frequency" required>
                        <option value="0">Only once</option>
                        <option value="1">Monthly</option>
                        <option value="2">Every 2 months</option>
                        <option value="3">Quarterly</option>
                        <option value="6">Every 6 months</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Currency</span>
                    <select ng-model="vm.expense.currency" required>

                      <option selected value="RON">RON</option>
                      <option value="EUR">EUR</option>
                      <option value="USD">USD</option>
                      <option value="GBP">GBP</option>
                      <option value="JPY">JPY</option>
                      <option value="BGN">BGN</option>
                      <option value="CZK">CZK</OPTION>

                      <option value="DKK">DKK</option>
                      <option value="HUF">HUF</option>
                      <option value="PLN">PLN</option>
                      <option value="SEK">SEK</option>
                      <option value="CHF">CHF</OPTION>
                      <option value="NOK">NOK</option>

                      <option value="HRK">HRK</option>
                      <option value="RUB">RUB</option>
                      <option value="TRY">TRY</option>
                      <option value="AUD">AUD</option>
                      <option value="BRL">BRL</option>
                      <option value="CAD">CAD</option>

                      <option value="CNY">CNY</option>
                      <option value="HKD">HKD</option>
                      <option value="IDR">IDR</option>
                      <option value="ILS">ILS</option>
                      <option value="INR">INR</option>
                      <option value="KRW">KRW</option>

                      <option value="MXN">MXN</option>
                      <option value="MYR">MYR</option>
                      <option value="NZD">NZD</option>
                      <option value="PHP">PHP</OPTION>
                      <option value="SGD">SGD</option>
                      <option value="THB">THB</option>
                      <option value="ZAR">ZAR</option>
                    </select>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-dark" ng-disabled="editExpenseForm.$invalid" ng-click="vm.updateExpense(expense)">
                    Update expense
                </button>
                <button class="button button-block button-dark" ui-sref="app.expenses">
                    Back
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
