<ion-view ng-controller="expenseCtrl as vm">
	
    <ion-content class="has-header dark">
		<ion-list>
            <ion-item  style = "margin:15px;" class="item-text-wrap item-icon-left item-icon-right" ng-repeat="expense in vm.expenses" >
    			{{expense.name}}     {{ expense.creationDate | date:'mediumDate' }}   {{expense.amount}}{{expense.currency}}     
                <i class="icon ion-record {{expense.category.colour}}"></i>
                <i class="icon ion-chevron-left icon-accessory"></i>
                <ion-option-button class="button-dark" ng-click = "vm.updateExpense(expense, $index)">
                    Edit
                </ion-option-button>
    			<ion-option-button class="button-assertive" ng-click="vm.confirmDelete(expense, $index)">
                    Delete
                </ion-option-button>
  			</ion-item>
		</ion-list>
	</ion-content>


	<ion-tabs class="tabs-dark tabs-icon-top">
		

		<ion-tab title="Sort by date" icon="ion-eye" ui-sref="#">
			<!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
		</ion-tab>

		<ion-tab title="Add expense" icon="ion-plus-round" ui-sref="app.add-expense">
		</ion-tab>

		<ion-tab title="Sort by category" icon="ion-ios-eye-outline" ui-sref="#">
			<!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
		</ion-tab>
	</ion-tabs>
</ion-view>