<ion-view ng-controller="expenseEditCtrl as vm"> 
	<ion-content class="has-header dark">
		<h1>Add expense</h1>
	</ion-content>
	<ion-content>
          <div class="list">
            <label class="item item-input">
              	<span class="input-label">Category</span>
                <select placeholder="Category" ng-model = "vm.expense.category" required ng-options="category as category.name for category in vm.categories">
                </select>
            </label>
            
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="vm.expense.name" required>
            </label>
            
            <label class="item item-input">
              <span class="input-label">Description</span>
              <input type="text" ng-model="vm.expense.description">
            </label>
            <label class="item item-input">
              <span class="input-label">Amount</span>
              <input type="number" ng-model="vm.expense.amount" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Creation date</span>
              <input type="date" ng-model="vm.expense.creationDate">
            </label>
            <label class="item item-input">
              	<span class="input-label">Frequency</span>
              	<select ng-model="vm.expense.frequency">
        			<option value = "0">Only once</option>
        			<option value = "1">Monthly</option>
                    <option value = "2">Every 2 months</option>
                    <option value = "3">Quarterly</option>
                    <option value = "6">Every 6 months</option>
    			</select>
            </label>
            
            <label class="item item-input">
              	<span class="input-label">Currency</span>
              	<select ng-model="vm.expense.currency">
        			<option value="RON">RON</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
    			</select>
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-dark" ng-click="vm.updateExpense(expense)">
              Update expense
            </button>
            <button class="button button-block button-dark" ui-sref="app.expenses">
              Back
            </button>
          </div>
  </ion-content>
</ion-view>