<ion-side-menus enable-menu-with-back-views="true" ng-controller="menuLayout as vm">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <!--<ion-nav-buttons side="right">-->
        <!--<img menu-toggle="left" ng-src="img/myMoneyTracker.svg"/>-->
      <!--</ion-nav-buttons>-->
      </ion-nav-bar>
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark-bg dark-border">
      <ion-item class="item item-dark item-icon-left" ui-sref="app.expenses" menu-close>
          <i class="ion-ios-cart"></i>
            Expenses
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.incomes" menu-close>
          <i class="ion-cash"></i>
             Incomes
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.categories" menu-close>
          <i class="ion-filing"></i>
            Categories
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.counterparties" menu-close>
          <i class="ion-person-stalker"></i>
            Loans
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.statistics" menu-close>
          <i class="ion-ios-pie-outline"></i>
            Statistics
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.account" menu-close>
          <i class="ion-ios-body"></i>
            {{vm.loggedUser}}
      </ion-item>
      <ion-item class="item item-assertive item-icon-left"  ui-sref="app.notifications" menu-close>
          <i class="ion-android-notifications"></i>
            Notifications
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.help" menu-close>
          <i class="ion-help-circled"></i>
            Help
      </ion-item>
      <ion-item class="item item-dark item-icon-left"  ui-sref="app.contactus" menu-close>
          <i class="ion-android-contact"></i>
            Contact us
      </ion-item>
      <ion-item class="item item-dark item-icon-left" style="left:0;right:0;margin:0; width: 100%;position: fixed;" menu-close>
          <img menu-toggle="left" ng-src="img/myMoneyTracker.svg"/><br>
          Made by Wasy Software
      </ion-item>

</ion-side-menus>
