<ion-view ng-controller="accountCtrl as vm">
  <ion-nav-title>
    <span class="stable"><i class="ion-ios-body"></i> Your account</span>
  </ion-nav-title>
	<ion-content class="has-header">
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          {{vm.loggedUsername}}
        </label>
        <label class="item item-input">
          <span class="input-label">Default currency</span>
          {{vm.loggedDefaultCurrency}}
        </label>
      </div>
      <div class="padding">
        <button ng-disabled="vm.disableNoInternet"
                ng-class="vm.disableNoInternet ? 'icon-left ion-locked' : 'icon-left ion-edit' "
                class="button button-block button-dark"
                ng-click="vm.changeDefaultCurrency()">
          Update default currency
        </button>
        <button ng-disabled="vm.disableNoInternet"
                ng-class="vm.disableNoInternet ? 'icon ion-locked' : 'icon-left ion-lock-combination' "
                class="button button-block button-dark"
                ng-click="vm.changePassword()">
          Change password
        </button>
        <p ng-show="vm.disableNoInternet">* Please activate your Internet access</p>
      </div>
    </form >
	</ion-content>
</ion-view>
