<ion-view ng-controller="addLoanCtrl as vm">
  <ion-nav-title>
    <span class="stable">{{vm.isLoanUpdate ? 'Edit':'Add'}} loan</span>
  </ion-nav-title>
  <ion-content>
    <form name="addLoanForm">
      <div class="list">
        <label class="item item-input" ng-show="vm.counterparties.length > 0">
          <span class="input-label">Person</span>
          <select placeholder="Person" ng-model="vm.loan.counterpartySelect" ng-options="counterparty.name for counterparty in vm.counterparties track by counterparty.id">
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Add new person?</span>
          <ion-checkbox ng-model="vm.addNewPerson"></ion-checkbox>
        </label>

        <label ng-show="vm.addNewPerson" class="item item-input">
          <span class="input-label">Name of person</span>
          <input type="text" ng-model="vm.loan.counterpartyNew.name">
        </label>

        <label ng-show="vm.addNewPerson" class="item item-input">
          <span class="input-label">Email of person</span>
          <input type="email" ng-model="vm.loan.counterpartyNew.email">
        </label>

        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="vm.loan.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Amount</span>
          <input autofocus type="number" ng-model="vm.loan.amount" required>
        </label>

        <label class="item item-input">
          <ion-list>
            <ion-radio ng-model="vm.loan.receiving" ng-value="true">Are you receiving?</ion-radio>
            <ion-radio ng-model="vm.loan.receiving" ng-value="false">Are you giving? </ion-radio>
          </ion-list>
        </label>

        <label class="item item-input">
          <span class="input-label">Creation date</span>
          <input type="date" ng-init="vm.isLoanUpdate ? '':vm.loan.creationDate = vm.defaultCreationDate" ng-model="vm.loan.creationDate" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Until date</span>
          <input type="date" ng-init="vm.isLoanUpdate? '':vm.loan.untilDate = vm.defaultUntilDate" ng-model="vm.loan.untilDate" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Currency</span>
          <select ng-model="vm.loan.currency" required ng-init="vm.loan.currency = vm.defaultCurrency">

            <option value="RON">RON</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="JPY">JPY</option>
            <option value="BGN">BGN</option>
            <option value="CZK">CZK</OPTION>

            <option value="DKK">DKK</option>
            <option value="HUF">HUF</option>
            <option value="PLN">PLN</option>
            <option value="SEK">SEK</option>
            <option value="CHF">CHF</OPTION>
            <option value="NOK">NOK</option>

            <option value="HRK">HRK</option>
            <option value="RUB">RUB</option>
            <option value="TRY">TRY</option>
            <option value="AUD">AUD</option>
            <option value="BRL">BRL</option>
            <option value="CAD">CAD</option>

            <option value="CNY">CNY</option>
            <option value="HKD">HKD</option>
            <option value="IDR">IDR</option>
            <option value="ILS">ILS</option>
            <option value="INR">INR</option>
            <option value="KRW">KRW</option>

            <option value="MXN">MXN</option>
            <option value="MYR">MYR</option>
            <option value="NZD">NZD</option>
            <option value="PHP">PHP</OPTION>
            <option value="SGD">SGD</option>
            <option value="THB">THB</option>
            <option value="ZAR">ZAR</option>
          </select>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-dark"
                ng-class="vm.disableNoInternet ? 'icon-left ion-locked' : 'icon-left ion-' + (vm.isLoanUpdate ? 'edit':'android-add') "
                ng-disabled="((vm.disableNoInternet) || (addLoanForm.$invalid))"
                ng-click="vm.addLoan(vm.loan, true)">
          {{vm.isLoanUpdate ? 'Update':'Create'}} loan
        </button>
        <button ng-if="!vm.isLoanUpdate" class="button button-block button-dark"
                ng-class="vm.disableNoInternet ? 'icon-left ion-locked' : 'icon-left ion-android-add' "
                ng-disabled="((vm.disableNoInternet) || (addLoanForm.$invalid))"
                ng-click="vm.addLoan(vm.loan, false)">
          Create & New
        </button>
      </div>
    </form>
    <p ng-show="addLoanForm.$invalid">
      <ion-list>
        <ion-item><i style="color : red;" class="ion-alert-circled"></i>   Counterparty is mandatory</ion-item>
        <ion-item><i style="color : red;" class="ion-alert-circled"></i>   Amount is mandatory</ion-item>
        <ion-item><i style="color : red;" class="ion-alert-circled"></i>   Creation date is mandatory</ion-item>
        <ion-item><i style="color : red;" class="ion-alert-circled"></i>   Until date is mandatory</ion-item>
        <ion-item><i style="color : red;" class="ion-alert-circled"></i>   Currency is mandatory</ion-item>
      </ion-list>
    </p>
  </ion-content>
</ion-view>
