<ion-view ng-controller="counterpartiesCtrl as vm">
  <ion-nav-title>
    <span class="stable"><i class="ion-person-stalker"></i>  Loans</span>
  </ion-nav-title>
  <ion-content class="has-header dark">
    <ion-list>
      <ion-item style = "margin:15px;" ng-click="vm.showLoansPage(counterparty)"  ng-repeat="counterparty in vm.counterparties" class="item-text-wrap item-icon-right">
        <h2>{{counterparty.name}}</h2>
        <h2 style="color:#8B0000">{{counterparty.email}}</h2>
        <span class="item-note" style="color: {{vm.resolveColour(counterparty)}}" >{{vm.resolveTotalValue(counterparty)}} {{counterparty.total > 0 ? counterparty.total : counterparty.total * -1 }}{{vm.defaultCurrency}}</span>
        <ion-option-button class="button-dark" ng-click="vm.update(counterparty, $index)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="vm.confirmDelete(counterparty)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-energized"  ng-click="vm.sendEmail(counterparty)">
          Send e-mail
        </ion-option-button>
        <i class="icon ion-chevron-left icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div></div>
  </ion-content>


  <ion-floating-button ui-sref="app.add-loan" has-footer="false" button-color="#5C5C5C" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
</ion-view>
