/* Empty. Add your own CSS if you like */
h1 {
    font-family: 'Gloria Hallelujah', cursive;
}

span {
    font-family: 'Gloria Hallelujah', cursive;
}

button {
    font-family: 'Gloria Hallelujah', cursive;
}

ion-item {
    font-family: 'Gloria Hallelujah', cursive;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
}
