<ion-side-menus>
  <ion-side-menu-content>
    <ion-header-bar class="bar-header bar-dark">
    	<button class="button button-icon icon ion-navicon" menu-toggle="left"> </button>
      	<div class="h1 title">Expenses</div>
    </ion-header-bar>
 	<ion-content>
    </ion-content> 
  </ion-side-menu-content> 

   <ion-side-menu side="left">
      <a menu-close href="#/home" class="item">Add expense</a>
      <a menu-close href="#/home" class="item">Sort by date</a>
      <a menu-close href="#/home" class="item">Sort by category</a>
   </ion-side-menu>
</ion-side-menus>