<ion-view ng-controller="incomeCtrl as vm">
    <ion-nav-title>
      <span class="stable"><i class="ion-cash"></i>  Incomes</span>
      <button class="button button-icon acc-search ion-ios-search-strong" ng-click="vm.showFilterBar()"></button>
    </ion-nav-title>
    <ion-content class="has-header dark">
      <div class="row">
        <label class="col item item-input input-container">
          <div class="input-label no-padding">
            From:
          </div>
          <input class="no-padding" type="date" ng-model="vm.incomesFromDate" ng-change="vm.updateIncomes()">
        </label>
        <label class="col item item-input input-container">
          <div class="input-label no-padding">
            Until:
          </div>
          <input class="no-padding" type="date" ng-model="vm.incomesUntilDate" ng-change="vm.updateIncomes()">
        </label>
      </div>

      <label ng-if="vm.incomes.length == 0">
        <div class="list card" id="login-card21" text-center>
          <div style="font-style: italic; text-align:  center; padding: 20px 0px;">
            <label style="font-size: 10px;">NO INCOMES FOR THE SELECTED INTERVAL</label>
          </div>
        </div>
      </label>
        <ion-list>
            <ion-item ng-click="toggleItem(income)" style="margin:15px;" class="item-text-wrap item-icon-right" ng-repeat="income in vm.incomes | orderBy:'creationDate'">
              <h2>{{income.name }} <i class="item-expand-footer" ng-class="isItemShown(income) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i></h2>
              <div ng-hide="!isItemShown(income)">
                  <p>Amount: {{income.amount | number:2}}  {{income.currency}}</p>
                  <p ng-hide="income.description == null || income.description == ''">Description: {{income.description}}</p>
                  <p ng-hide="income.defaultCurrencyAmount == null">Default currency amount: {{income.defaultCurrencyAmount | number:2}} {{income.defaultCurrency}}</p>

              </div>
              <span class="item-note">{{ income.creationDate | date:'mediumDate' }} </span>
              <i class="icon ion-chevron-left icon-accessory"></i>
              <ion-option-button class="button-dark" ng-click="vm.updateIncome(income, $index)">
                Edit
              </ion-option-button>
              <ion-option-button class="button-assertive" ng-click="vm.confirmDelete(income, $index)">
                Delete
              </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-floating-button ui-sref="app.add-income" has-footer="false" button-color="#5C5C5C" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>


    <!--<ion-tabs class="tabs-dark tabs-icon-top">-->
        <!--<ion-tab  ui-sref="#">-->
            <!--&lt;!&ndash; <ion-nav-view name="tab-login"></ion-nav-view> &ndash;&gt;-->
        <!--</ion-tab>-->
        <!--<ion-tab title="Add income" icon="ion-plus-round" ui-sref="app.add-income">-->
            <!--&lt;!&ndash; <ion-nav-view name="tab-register"></ion-nav-view> &ndash;&gt;-->
        <!--</ion-tab>-->
      <!--<ion-tab  ui-sref="#">-->
        <!--&lt;!&ndash; <ion-nav-view name="tab-login"></ion-nav-view> &ndash;&gt;-->
      <!--</ion-tab>-->
    <!--</ion-tabs>-->
</ion-view>
