<ion-view ng-controller="incomeCtrl as vm">
    <ion-nav-title>
      <span class="stable">Incomes</span>
    </ion-nav-title>
    <ion-content class="has-header dark">
        <label class="item item-input">
            <span class="input-label">From: </span>
            <input type="date" ng-model="vm.incomesFromDate" ng-change="vm.updateIncomes()">
        </label>
        <label class="item item-input">
            <span class="input-label">Until: </span>
            <input type="date" ng-model="vm.incomesUntilDate" ng-change="vm.updateIncomes()">
        </label>
        <ion-list>
            <ion-item style="margin:15px;" class="item-text-wrap item-icon-right" ng-repeat="income in vm.incomes | orderBy:'creationDate'">
				<div class=" item-right">
							<span align="left">{{income.name}}   {{income.amount}}{{income.currency}}  </span>
							<span class="item-note">{{ income.creationDate | date:'mediumDate' }} </span>
				</div>
                <i class="icon ion-chevron-left icon-accessory"></i>
                <ion-option-button class="button-dark" ng-click="vm.updateIncome(income, $index)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="vm.confirmDelete(income, $index)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <div></div>
        <br><br><br>
    </ion-content>

    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab  ui-sref="#">
            <!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
        </ion-tab>
        <ion-tab title="Add income" icon="ion-plus-round" ui-sref="app.add-income">
            <!-- <ion-nav-view name="tab-register"></ion-nav-view> -->
        </ion-tab>
      <ion-tab  ui-sref="#">
        <!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
      </ion-tab>
    </ion-tabs>
</ion-view>
