<ion-view ng-controller="addCategoryCtrl as vm">
    <ion-nav-title>
      <span class="stable">Add a new category</span>
    </ion-nav-title>
    <ion-content class="has-header dark">
        <h1>Add category</h1>
    </ion-content>
    <ion-content>
        <form name="addCategoryForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="category.name" autofocus required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Colour</span>
                    <select ng-model="category.colour" required>
                        <option selected value="positive" style="background-color: DodgerBlue " class="positive">blue</option>
                        <option value="calm" style="background-color: aqua" class="calm">aqua</option>
                        <option value="balanced" style="background-color: YellowGreen" class="balanced">green</option>
                        <option value="energized" style="background-color: Gold" class="energized">yellow</option>
                        <option value="assertive" style="background-color: Crimson " class="assertive">red</option>
                        <option value="royal" style="background-color: BlueViolet " class="royal">violet</option>
                        <option value="dark" style="background-color: black" class="dark">black</option>
                    </select>
                </label>

                <!--<label class="item item-input">-->
                    <!--<span class="input-label">Threshold</span>-->
                    <!--<input type="number" placeholder="How much money do you want to spend on this category, per month?" ng-model="category.threshold"-->
                    <!--min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />-->
                <!--</label>-->

            </div>
            <div class="padding">
                <button class="button button-block button-dark" ng-disabled="addCategoryForm.$invalid" ng-click="vm.addCategory(category, true)">
                    Create category
                </button>
                <button class="button button-block button-dark" ng-disabled="addCategoryForm.$invalid" ng-click="vm.addCategory(category, false)">
                    Create category & new
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
