<ion-view ng-controller="categoryCtrl as vm">
	<ion-content class="has-header dark">
		<ion-list>
            <ion-item href="#/app/expenses/{{category.id}}"  class="item-icon-left" ng-repeat="category in vm.categories" >
    			{{category.name}}
                <i class="icon ion-record {{category.colour}}"></i>
                <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                <ion-option-button class="button-positive">
                    Edit
                </ion-option-button>
    			<ion-option-button class="button-assertive" ng-click="vm.confirmDelete(category)">
                    Delete
                </ion-option-button>
  			</ion-item>
		</ion-list>
	</ion-content>

	<ion-tabs class="tabs-dark tabs-icon-top">

		<ion-tab title="Sort" icon="ion-eye" ui-sref="#">
			<!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
		</ion-tab>
		<ion-tab title="Add category" icon="ion-plus-round" ui-sref="app.add-category">
		</ion-tab>
	</ion-tabs>
</ion-view>