<ion-view ng-controller="categoryCtrl as vm">
  <ion-nav-title>
    <span class="stable"><i class="ion-filing"></i>  Categories</span>
  </ion-nav-title>
	<ion-content class="has-header dark">
		<ion-list>
            <ion-item style = "margin:15px;" class="item-icon-left item-icon-right" ng-repeat="category in vm.categories" >
    			{{category.name}}
                <i class="icon ion-record {{category.colour}}"></i>
                <i class="icon ion-chevron-left icon-accessory"></i>
                <ion-option-button class="button-dark" ng-click = "vm.updateCategory(category, $index)">
                    Edit
                </ion-option-button>
    			<ion-option-button class="button-assertive" ng-click="vm.confirmDelete(category, $index)">
                    Delete
                </ion-option-button>
  			</ion-item>
		</ion-list>
    <div></div>
    <br><br><br>
	</ion-content>

	<ion-tabs class="tabs-dark tabs-icon-top">

    <ion-tab  ui-sref="#">
      <!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
    </ion-tab>
		<ion-tab title="Add category" icon="ion-plus-round" ui-sref="app.add-category">
		</ion-tab>
    <ion-tab  ui-sref="#">
      <!-- <ion-nav-view name="tab-login"></ion-nav-view> -->
    </ion-tab>
	</ion-tabs>
</ion-view>
