<ion-view ng-controller="addCategoryCtrl as vm">
  <ion-nav-title>
    <span class="stable">Add a new category</span>
  </ion-nav-title>
  <ion-content class="has-header dark">
    <h1>Add category</h1>
  </ion-content>
  <ion-content>
    <form name="addCategoryForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="vm.category.name" autofocus required>
        </label>

        <label class="item item-input">
          <span class="input-label">Colour</span>
          <table>
            <tr>
              <td>
                <ion-checkbox ng-model="vm.isAssertiveChecked" ng-click="vm.updateSelection('assertive')" >
                  <i class="icon ion-record assertive" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
              <td>
                <ion-checkbox ng-model="vm.isPositiveChecked" ng-click="vm.updateSelection('positive')">
                  <i class="icon ion-record positive" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
            </tr>
            <tr>
              <td>
                <ion-checkbox ng-model="vm.isCalmChecked" ng-click="vm.updateSelection('calm')">
                  <i class="icon ion-record calm" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
              <td>
                <ion-checkbox ng-model="vm.isBalancedChecked" ng-click="vm.updateSelection('balanced')">
                  <i class="icon ion-record balanced" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
            </tr>
            <tr>
              <td>
                <ion-checkbox ng-model="vm.isEnergizedChecked" ng-click="vm.updateSelection('energized')">
                  <i class="icon ion-record energized" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
              <td>
                <ion-checkbox ng-model="vm.isRoyalChecked" ng-click="vm.updateSelection('royal')">
                  <i class="icon ion-record royal" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
            </tr>
            <tr>
              <td>
                <ion-checkbox ng-model="vm.isDarkChecked" ng-click="vm.updateSelection('dark')">
                  <i class="icon ion-record dark" style="font-size: 1.73em;"></i>
                </ion-checkbox>
              </td>
            </tr>
          </table>
        </label>

        <label class="item item-input">
          <span class="input-label">Limit</span>
          <span>
            <input type="number" placeholder="Amount in default currency" ng-model="vm.category.threshold" style="width: 80%; display: inline;"
                   min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-disabled="licencePaymentApproved === false"/>
            <i ng-if="licencePaymentApproved == false" class="ion-locked" style="margin: 5px;" ng-init="vm.showLockedMessage = false;"
               ng-mouseup="vm.showLockedMessage = !vm.showLockedMessage;"></i>
          </span>
        </label>
        <label ng-if="vm.showLockedMessage" class="item item-input">
          <p>Category limit is unlocked only for contributors</p>
        </label>

      </div>
      <p ng-show="vm.disableNoInternet">* Please activate your Internet access</p>
      <div class="padding">
        <button class="button button-block button-dark"
                ng-class="vm.disableNoInternet ? 'icon-left ion-locked' : 'icon-left ion-android-add' "
                ng-disabled="((vm.disableNoInternet) || (addCategoryForm.$invalid))"
                ng-click="vm.addCategory(true)">
          Create category
        </button>
        <button class="button button-block button-dark"
                ng-class="vm.disableNoInternet ? 'icon-left ion-locked' : 'icon-left ion-android-add' "
                ng-disabled="((vm.disableNoInternet) || (addCategoryForm.$invalid))"
                ng-click="vm.addCategory(false)">
          Create category & new
        </button>
      </div>
    </form>
    <p ng-show="addCategoryForm.$invalid">
      <ion-list>
        <ion-item><i style="color : red;" class="ion-alert-circled"></i>   Name is mandatory</ion-item>
      </ion-list>
    </p>
  </ion-content>
</ion-view>
