<ion-view ng-controller="changePasswordCtrl as vm">
  <ion-nav-title>
    <span class="stable">Change password</span>
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <form ng-submit="vm.changePassword(changePasswordObj)" name="changePasswordForm" id="changePasswordForm-form3" class="list">
      <ion-list id="login-list3">
        <label class="item item-input item-icon-right">
          <i class="icon ion-eye" on-hold="showOldPassword = true" on-release="showOldPassword = false"></i>
          <input class="dont-display" type="password" id="password" ng-minlength="8" placeholder="Current password" ng-model="changePasswordObj.oldPassword" ng-hide="showOldPassword" required>
          <input class="dont-display" type="text" id="passwordRaw" ng-minlength="8" placeholder="Current password" ng-model="changePasswordObj.oldPassword" ng-show="showOldPassword" required>
        </label>
        <label class="item item-input item-icon-right">
          <i class="icon ion-eye" on-hold="showNewPassword1 = true" on-release="showNewPassword1 = false"></i>
          <input class="dont-display" type="password" id="password2" ng-minlength="8" placeholder="New password" ng-model="changePasswordObj.newPassword1" ng-hide="showNewPassword1" required>
          <input class="dont-display" type="text" id="passwordRaw2" ng-minlength="8" placeholder="Current password" ng-model="changePasswordObj.newPassword1" ng-show="showNewPassword1" required>
        </label>
        <label class="item item-input item-icon-right">
          <i class="icon ion-eye" on-hold="showNewPassword2 = true" on-release="showNewPassword2 = false"></i>
          <input class="dont-display" type="password" id="password3" ng-minlength="8" placeholder="Retype new password" ng-model="changePasswordObj.newPassword2" ng-hide="showNewPassword2" required>
          <input class="dont-display" type="text" id="passwordRaw3" ng-minlength="8" placeholder="Retype new password" ng-model="changePasswordObj.newPassword2" ng-show="showNewPassword2" required>
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button3"
              class="button button-dark  button-block"
              ng-class="vm.disableNoInternet ? 'icon-left ion-locked' : 'icon-left ion-edit' "
              ng-disabled="((vm.disableNoInternet) || (changePasswordForm.$invalid))">
        Change password
      </button>
    </form>
    <p ng-show="vm.disableNoInternet">* Please activate your Internet access</p>
  </ion-content>
</ion-view>
