<ion-modal-view ng-controller="loginCtrl as vm">
    <ion-header-bar>
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="vm.signIn(user)" name="loginForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username/email</span>
                    <input type="text" ng-model="user.username" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-dark" ng-disabled="loginForm.$invalid">
                    Sign-In
                </button>
                <p class="text-center">
                    <a href="#/forgot-password">Forgot password</a>
                </p>
            </div>
        </form>
    </ion-content>
</ion-modal-view>