<ion-view ng-controller="loginCtrl as vm">
  <ion-nav-title>
    <span class="stable">Login</span>
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <form ng-submit="vm.signIn(user)" name="loginForm" id="login-form3" class="list">
      <ion-list id="login-list3">
        <label class="item item-input" id="login-input8">
          <input type="text" placeholder="Username" ng-model="user.username" required autofocus>
        </label>
        <label class="item item-input item-icon-right">
          <i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
          <input type="password" id="password" placeholder="Password" ng-model="user.password" ng-hide="showPassword">
          <input type="text" id="passwordRaw" placeholder="Password" ng-model="user.password" ng-show="showPassword">
        </label>
        <ion-checkbox ng-model="vm.rememberUserDetails">Remember user details</ion-checkbox>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button3" class="button button-dark  button-block icon-left ion-log-in" ng-disabled="loginForm.$invalid">Log in</button>
      <button id="login-button4" ng-click="vm.forgotPassword()" class="button button-positive  button-block button-clear">Forgot password?</button>
    </form>
  </ion-content>
</ion-view>
