<ion-view ng-controller="registerCtrl as vm">
  <ion-content padding="true" class="has-header">
    <form ng-submit="vm.register(user)" name="registerForm" class="list">
      <ion-list>
        <label class="item item-input">
          <input type="email" ng-model="user.email" autofocus placeholder="Email" required>
        </label>
        <label class="item item-input">
          <input type="text" ng-model="user.username" placeholder="Username" required>
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password" placeholder="Password" required>
        </label>
        <label class="item item-input">
          <input type="password" ng-model="user.password2" placeholder="Reenter password" required>
        </label>
        <label class="item item-select">
          <span class="input-label">Default currency</span>
          <select type="text" class="form-control" id="currency_select" placeholder="currency" ng-model="user.defaultCurrency" required>
            <option ng-repeat="currency in vm.currencies" value="{{currency}}" required>{{currency}}</option>
          </select>
        </label>
      </ion-list>
      <button id="signup-button2" ng-disabled="registerForm.$invalid" class="button button-dark button-large button-block icon-left ion-android-add"> Sign up</button>
    </form>
  </ion-content>
</ion-view>
